# Define the backend type to use ('nodejs' or 'activepieces')
BACKEND_TYPE=nodejs

# Base URL for the Node.js backend
NODEJS_BASE_URL=http://localhost:5000/api/

# Base URL for Activepieces webhooks / flows
ACTIVEPIECES_BASE_URL=https://pds-workflow.tekclansolutions.com/api/v1/hooks/
